@import '../fonts.css';
@import '../reset.css';
*{
  margin:0;
  padding:0;
}
body{
   font-family: 'libre_franklinregular';
}
.appoint-grid{
  width: 100%; margin: 0 auto; padding: 0px; position: absolute;
  height:100%;
}
.row{
  zoom:1;
  height:100%;
}
.row:after,.row:before{
   display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;
}
.container{
  width:100%;
  position:relative;
  max-width:1600px;
  min-width:1000px;
  height:100%;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
.txtcenter{
  text-align:center;
}
.over{
  overflow:hidden;
}
.dispinl{
  display:inline-block;
}
.boxsize{
  box-sizing:border-box;
}
/* header */
.header{
  height:60px;
  width:100%;
  background:#fff;
  box-shadow:0 0 10px rgba(0,0,0,0.3);
}
.appoint-left{
  width:200px;
  padding:20px 10px;
}
.logoimg{
  width:40px;
  vertical-align:middle;
  margin-top: -2px;
  background:url(../images/logo.png) no-repeat;
  background-size:100%;
  height:40px;
}

.logoimg > img{
  width:100%;
}
.logoname{
  font-family: 'libre_franklinsemibold';
  color:#52518f;
   margin-left: 8px;
}
.appoint-right-menu{

}
.menu{
  list-style:none;
}
.menu li{
  float:left;
  margin:22px 30px;
  font-family: 'libre_franklinsemibold';
}
.menu li a{
    color:#52518f;
    font-size:13px;
    padding:21px 0;
    position: relative;
    transform: translateZ(0px);
}
.menu li a:before{
  -moz-background: -moz-linear-gradient(to bottom left, #a44a87 0%, #52518f 100%);
  -webkit-background: -webkit-linear-gradient(to bottom left, #a44a87 0%, #52518f 100%);
  background: linear-gradient(to bottom left, #a44a87 0%, #52518f 100%);
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  right: 50%;
  transition-duration: 0.2s;
  transition-property: left, right;
  transition-timing-function: ease-in-out;
}
.menu li a.active:before{
  left: 0;
  right: 0;
}
.grey-color{
  color:#666;
}

.bg-color{
  background-color:#f9fafc;
}
.col-left{
  width:32%;
  padding:20px 40px;
  height:100%;
  }
.col-middle{
  width:50%;
  background-color:#fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height:100%;
  padding: 0 20px 0 40px;
  position: relative;
}
.col-right{
  width:18%;
  padding:20px 40px;
  height:100%;
}
.setup-title{
  text-align:right;
}
.logo{
  margin-bottom:40px;
}
.welcome-name,.setup-content{
  color:#666;
  font-size:14px;
  font-family:libre_franklinregular;
  margin-bottom:20px;
}
.setup-name{
  font-size:55px;
  font-family: libre_franklinextralight;
  font-weight: 100;
}
.setup-name .grd1,
.setup-name .grd2{
  color: #000;
  background: #fff;
  position: relative;
  mix-blend-mode: multiply;
}
.setup-name .grd1::before,
.setup-name .grd2::before{
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #64387e 0%, #be3e7f 58%, #4175a8 100%) repeat scroll 0 0;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  mix-blend-mode: screen;
}
.setup-name .grd2::before{
  background: rgba(0, 0, 0, 0) linear-gradient(330deg, #64387e 30%, #4175a8) repeat scroll 0 0;
}
.setup-content{
  color:#666;
  padding:20px 0 20px 140px;
  line-height:22px;
}

/*steplinks*/
.steplinks{
  margin-top:160px;
}
.steplinks li{
  margin-top:10px;
  color:#bbb;
  font-size:13px;
  cursor:pointer;
}
.steplinks li.active{
color:#666;
}
.steplinks li a.active{
  color:#666;
}
/*middle*/
.stepstitle,.setup-container{
  padding:40px;
}
.number{
  font-family: libre_franklinregular;
  background:#52518f;
  width:36px;
  height:36px;
  font-size:24px;
  color:#fff;
  display:inline-block;
  text-align:center;
  padding:6px;
}
.name{
  color:#52518f;
  font-family: 'libre_franklinsemibold';
  font-size:18px;
  margin-left:15px;
}
.setup-container{

}
.forms{
  width:100%;
  margin-bottom:40px;
}
.labelname{
  width:30%;
  font-size:14px;
  color:#333;
  padding: 13px 0;
}
.labelname label{
  text-transform: uppercase;
}
.inputbox,.inputbox-number,.selectbox{
  width:70%;
  border:2px solid #d4d3dd;
  box-sizing:border-box;
  border-radius:3px;
}
.inputbox-number{
  width:30%;
}
.inputbox.time{
  width:30%;
}
.selectbox{
  width:25%;
  margin-left:20px;
 position:relative;
}

.txt-input,.txt-input-url{
  display:inline-block;
  width:100%;
  border:none;
  padding:10px;
  box-sizing:border-box;
  font-size: 14px;
  font-family: libre_franklinregular;
  color: #000;
}
.txt-input-url{
  width:45%;
  padding:11.2px 10px;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
  font-family: libre_franklinregular;
}
::-moz-placeholder {
  color: #bbb;
  font-family: libre_franklinregular;
}
:-ms-input-placeholder {
  color: #bbb;
  font-family: libre_franklinregular;
}
:-moz-placeholder {
  color: #bbb;
  font-family: libre_franklinregular;
}
select:focus{
  outline:none;
}
.urlname{
  background:#f8f8f8;
  font-size:14px;
  color:#000;
  padding:13px 10px;
  font-family: 'libre_franklinmedium';
  max-width: 210px;
  min-width: 200px;
  border-right: 1px solid #d4d3dd;
}
.selectBoxes{
  border:none;
  width:100%;
  -webkit-appearance:none;
  -moz-appearance:none;
  position:relative;
  font-size: 14px;
  font-family: libre_franklinregular;
  color: #000;
  padding: 0 10px;
}
.selectbox:after{
  content:'';
  width:11px;
  height:6px;
  background:url(../images/selectarr.png) no-repeat;
  display:inline-block;
  position:absolute;
  right:10px;
  top:17px;

}
.selectBoxes option{
  padding:9px;
}
.btn-nxt{
  width:130px;
  height:52px;
  -moz-background: -moz-linear-gradient(to bottom left, #a44a87 0%, #52518f 100%);
  -webkit-background: -webkit-linear-gradient(to bottom left, #a44a87 0%, #52518f 100%);
  background: linear-gradient(to bottom left, #a44a87 0%, #52518f 100%);
  padding:3px;
  /*margin: 40px -90px 0 0;*/
  trasnsition:all 0.3s ease-in-out;
   z-index: 9;
   position:absolute;
   right: -30px;
   bottom: 70px;
}
.btn-nxt:hover{
  -moz-background: -moz-linear-gradient(to bottom left,#52518f  0%, #a44a87 100%);
  -webkit-background: -webkit-linear-gradient(to bottom left, #52518f  0%, #a44a87 100%);
  background: linear-gradient(to bottom left, #52518f  0%, #a44a87 100%);
}
.btnstyle{
  border:none;
  width:100%;
  height:100%;
  background:#fff;
  cursor:pointer;
}
.btnstyle:after{
    content:'';
    background:url(../images/nxtbtnarrow.png) no-repeat;
    width:28px;
    height:20px;
    display:inline-block;
    margin:auto;
}
.tables{
  width:100%;
  display:table;
  border-bottom:1px solid #000;
  padding:10px 0;
  }
 .tables.border-light{
      border-bottom:1px solid #f3f4f7;
      padding:20px 0;
}
.tab-row{
  display:table-row;

}
.tablecell{
  display:table-cell;
  width:60%;
}
.mins{
  padding:10px;
}
.addService{
  width:100px;
  height:35px;
  background:#52518f;
  color:#fff;
  font-size:14px;
  padding: 10px;
  margin:20px 0 0;
  border-radius:2px;
}
.cancelService{
  margin:0 10px 0;
  font-size:13px;
}

   #businessinfo,#businesshours,#addstaff,#addservice{
     display:none;
   }
   #businessinfo.active,#businesshours.active,#addstaff.active,#addservice.active{
     display:block;
   }

   .col-middle .stepstitle,
   .col-middle .setup-container .forms {
   opacity: 0;
   transition: opacity 0.5s ease 0s;
   will-change: transform, opacity;
   }
   .col-middle .stepstitle{
   animation: 0.5s cubic-bezier(0.2, 0.6, 0.3, 1) 0s normal none 1 running slide-quote;
   opacity: 1;
   }
   .col-middle .setup-container .forms {
   animation: 0.8s cubic-bezier(0.2, 0.6, 0.3, 1) 0s normal none 1 running slide-quote;
   opacity: 1;
   }
   @keyframes slide-quote {
   0% {
   transform: scaleY(1.4) translateY(80px);
   }
   
