<div id="businessinfo" class="tabcontainer active">

            <div class="stepstitle"> <span class="number boxsize fl"></span> <span class="name boxsize dis-inbl">Business Info
              <span class="caption dis-block">Fill your basic business details.  You can fill the advanced details in setup page later.</span>
            </span>

            </div>
<div class="setup-container boxsize">
     <div class="forms">
        <span class="labelname dispinl fl">
            <label>Business Name</label>
        </span>
         <span class="inputbox dispinl fl">
               {{input key-up='urlGenerate' type="text" placeholder="" class="txt-input" value=bname }}
          </span>
          <div class="clearfix"></div>
      </div>
              <div class="forms">
                  <span class="labelname dispinl fl">
                     <label>Business URL</label>
                  </span>
                  <span class="inputbox url dispinl fl">
                      <input  type="text" placeholder="" class="txt-input-url" value={{bname}} />
                  </span>
                  <div class="clearfix"></div>
                 </div>
                 <div class="forms">
                     <span class="labelname dispinl fl">
                        <label>Country</label>
                     </span>
                     <span class="inputbox dispinl fl">
                         <input  type="text" placeholder="" class="txt-input" />
                     </span>
                     <div class="clearfix"></div>
                    </div>
                 <div class="forms">
                    <span class="labelname dispinl fl">
                        <label>Email</label>
                    </span>
                     <span class="inputbox dispinl fl">

                           <input type="text" placeholder="" class="txt-input"/>
                      </span>
                      <div class="clearfix"></div>
                    </div>
                    <div class="forms">
                       <span class="labelname dispinl fl">
                           <label>Phone</label>
                       </span>
                        <span class="inputbox-number dispinl fl">

                          <input type="text" placeholder="" class="txt-input"/>

                         </span>
                         <div class="clearfix"></div>
                       </div>
     </div>

   </div>
