<div id="businessinfo" class="tabcontainer active">
<div class="stepstitle">
   <span class="number boxsize">1</span>
   <span class="name boxsize dis-inbl">Business Info</span>

 </div>
<div class="setup-container boxsize">
     <div class="forms over">
        <span class="labelname dis-inbl fl">
            <label>Business Name</label>
        </span>
         <span class="inputbox dis-inbl fl">
               {{input key-up='urlGenerate' type="text" placeholder="" class="txt-input" value=bname }}
          </span>
      </div>
              <div class="forms over">
                  <span class="labelname dis-inbl fl">
                     <label>Business URL</label>
                  </span>
                  <span class="inputbox dis-inbl fl">
                    <span class="urlname dis-inbl fl">http://zoho.com/appointment/</span>
                      <input  type="text" placeholder="" class="txt-input-url" disabled="entryNotAllowed" value={{bname}} />
                  </span>
                 </div>
                 <div class="forms over">
                    <span class="labelname dis-inbl fl">
                        <label>Email</label>
                    </span>
                     <span class="inputbox dis-inbl fl">

                           <input type="text" placeholder="" class="txt-input"/>
                      </span>
                    </div>
                    <div class="forms over">
                       <span class="labelname dis-inbl fl">
                           <label>Phone</label>
                       </span>
                        <span class="inputbox-number dis-inbl fl">

                              <input type="text" placeholder="" class="txt-input"/>

                         </span>
                       </div>
     </div>

   </div>
