<div id="addservice" class="tabcontainer">
<div class="stepstitle">
   <span class="number boxsize">3</span>
   <span class="name boxsize dispinl">Add Service</span>

 </div>
<div class="setup-container boxsize">
   <div class="tables">

         <div class="tablecell">
            Service Name
         </div>
         <div class="tablecell">
            Duration
         </div>
      </div>
      <div class="tables border-light">

         <div class="tablecell">
           <span >
                Body massage
            </span>
         </div>
         <div class="tablecell">
           <span>
                      30 Mins
            </span>


         </div>


      </div>
      <div class="tables border-light">

         <div class="tablecell">
           <span>
               Hair Styling
            </span>
         </div>
         <div class="tablecell">
           <span>
                      60 Mins
            </span>


         </div>


      </div>
    <div class="tables border-light">

       <div class="tablecell">
         <span class="inputbox dispinl fl">
               <input type="text" placeholder="Service name" class="txt-input"/>
          </span>
       </div>
       <div class="tablecell">
         <span class="inputbox dispinl fl time">
               <input type="text" placeholder="00" class="txt-input"/>

          </span>

          <span class="dispinl fl mins grey-color">Mins</span>
       </div>
       <div class="tab-row">
           <a href="#" class="addService dispinl boxsize"> Add Service</a>
           <a href="#" class="cancelService dispinl boxsize grey-color">Cancel</a>
       </div>

    </div>
    <div class="btn-nxt boxsize fr">
        <button class="btnstyle dispinl"></button>
    </div>
</div>
</div>
