<div id="addstaff" class="tabcontainer">

 <div class="stepstitle slide-up-slow">
    <span class="number boxsize bstaff"></span>
    <span class="name boxsize dis-inbl ">Add Staff
    <span class="caption dis-block">Fill your basic business details.  You can fill the advanced details in setup page later.</span></span>
  </div>
 <div class="setup-container boxsize slide-up">
    <div class="tables no-border">
      <div class="tablecell">
         <span class="title-name dis-inbl mb10">  Staffs </span>
      </div>

    </div>
    <div class="tables border-light tablestyle boxsize">

      <div class="tablecell fl">
        <span class="uploadimage dis-inbl fl">
           <img src="/images/uploadimage.png" alt=""/>
        </span>
        <span class="staffdetail dis-inbl fl">
            <span class="staffname font15">Sreedhar Ravikumar</span>
            <span class="jobdescription">sreedharravikumar@gmail.com</span>
            <span class="font12 red-col"> Super Admin</span>
         </span>
      </div>
      <div class="table-cell fr mt20">
        <span class="staffdetail dis-inbl fl">
            <span class="servicetitle font13">Service</span>
            <span class="staffservices font12">Hair cut , Beard styling</span>
         </span>
      </div>

    </div>
    <div class="tables border-light tablestyle boxsize">

      <div class="tablecell fl">
        <span class="uploadimage dis-inbl fl">
           <img src="/images/uploadimage.png" alt=""/>
        </span>
        <span class="staffdetail dis-inbl fl">
            <span class="staffname font15">Sreedhar Ravikumar</span>
            <span class="jobdescription">sreedharravikumar@gmail.com</span>
            <span class="font12 red-col"> Super Admin</span>
         </span>
      </div>
      <div class="table-cell fr mt20">
        <span class="staffdetail dis-inbl fl">
            <span class="servicetitle font13">Service</span>
            <span class="staffservices font12">Hair cut , Beard styling</span>
         </span>
      </div>

    </div>

 <div class="table-container">
   <div class="tables mt80 mb20">
     <div class="tablecell">
       <span class="title-name">
            New Staffs
       </span>
     </div>

   </div>
   <div class="staffscol no-border-bottom boxsize">

        <span class="labelname dis-inbl fl">
            <label>Staff Name</label>
        </span>


        <span class="inputbox dis-inbl fl">
              <input type="text" placeholder="" class="txt-input"/>
        </span>
     <div class="clearfix"></div>
   </div>
   <div class="staffscol no-border-bottom boxsize">
     <span class="labelname dis-inbl fl">
         <label>Role</label>
     </span>
     <div class="staff-role dis-inbl fl">
           <input type="radio" name="optionsRadios" id="employee" value="option1" checked="">
           <label for="employee">Employee</label>
           <input type="radio" name="optionsRadios" id="admin" value="option1">
           <label for="admin">Admin</label>
           <input type="radio" name="optionsRadios" id="superadmin" value="option1">
           <label for="superadmin">Super Admin</label>
     </div>
<div class="clearfix"></div>
   </div>
   <div class="staffscol no-border-bottom boxsize">
     <span class="labelname dis-inbl fl">
         <label>Service assigned</label>
     </span>
     <div class="assigned-services dis-inbl">
       <span class="service fl active">Body massage</span>
       <span class="service fl">Hair cut</span>
       <span class="service fl">Manicure</span>
     </div>
<div class="clearfix"></div>

   </div>
   <div class="staffscol no-border-bottom boxsize">
     <span class="labelname dis-inbl fl">
         <label>Email</label>
     </span>
     <span class="inputbox dis-inbl fl">
           <input type="text" placeholder="" class="txt-input"/>
      </span>
      <div class="clearfix"></div>
   </div>
 </div>
    <div class="tab-row">
        <a href="javascript:void(0);" class="addService dis-inbl boxsize" {{action ""}}> Add Staff</a>
        <a href="javascript:void(0);" class="cancelService dis-inbl boxsize hide-imp"  {{action ""}}>Cancel</a>
    </div>
    <div class="clearfix"></div>
 </div>
</div>
