<div class="appoint-grid">
   <div class="header">
      <div class="row">
           <div class="appoint-left dispinl boxsize fl">
               <a href="javascript:void(0);" class="dispinl">
                <span class="logoimg dispinl"></span>

                    <span class="logoname dispinl"> Appointment</span>
               </a>
           </div>
           <div class="appoint-right-menu dispinl boxsize fl">
                  <ul class="menu">
                     <li>{{#link-to 'components.my-desk.mydesk' class'active'}}My Desk{{/link-to}}</li>
                     <li>{{#link-to 'components.appointments.calendar'}}Appointments{{/link-to}}</li>
                     <li>{{#link-to 'components.customers.clist'}}Customers{{/link-to}}</li>
                     <li>{{#link-to 'components.business-setup.binfo'}}Business Setup{{/link-to}}</li>
                     <li>{{#link-to 'components.reports.report'}}Reports{{/link-to}}</li>
                  </ul>
           </div>
      </div>
   </div>
</div>
